<title>Codeforces Ratings</title>
<%- include('partials/header') %>
<br>
  <div class="container mt-4">
    <h2 class="mb-4">Codeforces Ratings</h2>

    <table class="table table-bordered table-responsive-md">

      <thead >
        <tr class="fixed">
          <th scope="col">#</th>
          <th scope="col"></th>
          <th scope="col">Code forces Handle</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>

        <tbody>
            <% ress.forEach(student => {%>
                <tr id = <%= student.handle %>>
                    <td>&nbsp;</td>
                    <td><img src="<%=student.avatar %>" alt="Codeforces userpic" class="rounded-circle"></td>
                    <td><%=student.handle  %></td>
                    <td><%= student.rating %></td>
                </tr>
            <%}); %>
        </tbody>
    </table>

    <p>Couldn't find Your Id?   <a class="btn btn-light" href="/users/register" role="button">Register</a></p>


  </div>

  <%- include('partials/footer') %>